{% extends 'base.html' %} {% load static %}
<!--Block-->
{% block content %} {% for i in product %}
<div class="container pt-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{%url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{i.title}}</li>
    </ol>
  </nav>
  <img
    src="{{ i.product_image.url }}"
    style="object-fit: cover; width: 250px; height: 250px"
    class="card-img-top"
    alt="loading..."
  />

  <h1 class="display-5 my-2">{{i.title}}</h1>
  <p class="text-danger">Price: ${{i.price}}</p>
  <p class="lead">{{i.description}}</p>
  <hr class="my-4" />
  
  <p class="lead">
    <a
      href="{% url 'cart' i.id %}#{{i.id}}"
      type="button"
      class="btn btn-sm btn-light"
      ><i style="font-size: 18px" class="fa fa-cart-plus" aria-hidden="true"></i
    ></a>
  </p>
  <p style="font-weight: bold">
    Seller: <span style="color: green">{{i.Seller.company_name}}</span>
  </p>
</div>
{% endfor %} {% endblock content %}
