{% extends "base.html" %} 
<!-- Begin Page Content -->
{%block content%}

{% load static %}
    
<!--Product Section-->
<div class="container p-4 mt-2">
  <div class="d-flex justify-content-between">
    <h3 class="mx-2">Search Product By Name</h3>
    <form class="form-inline my-2 my-lg-0">
      {% load crispy_forms_tags %}
      {{search.form.title | as_crispy_field }}
      <button class="btn btn-outline-success my-sm-0" type="submit"><i class="fas fa-search text-success"></i></button>
    </form>
  </div>
  <hr/>
  <div class="row row-cols-4">
    {% for i in product %}
    <div class="col p-4" id="{{i.id}}">
      <div class="card">
        <img src="{{ i.product_image.url }}" style="object-fit: cover;width: 100%;height: 200px;" class="card-img-top" alt="loading...">
        <div class="card-body">
          <h5 class="card-title">{{i.title}}</h5>
          <p class="text-secondary m-0 p-0"></p>Price: ${{i.price}}</p>
          <div class="text-center mt-2">
            <a href="{% url 'cart' i.id %}#{{i.id}}" type="button" class="btn btn-sm btn-success"><i style="font-size:18px;color:#fff;" class="fa fa-cart-plus" aria-hidden="true"></i></a>
            <a href="{% url 'details' i.id %}" type="button" class="btn btn-sm btn-primary"><i style="font-size:18px;color:#fff;" class="fa fa-info-circle" aria-hidden="true"></i></a>
          </div>
          <hr/>
          <span class="badge badge-sm text-dark m-0 p-2">Seller: {{i.Seller.company_name}}</span>
        </div>
      </div>
    </div>

    {% endfor %}

  </div>
</div>
{%endblock content%}